vendor/
!integrations/shopify/georgia-pay-app/vendor/
!integrations/shopify/georgia-pay-app/vendor/monorepo-src/
node_modules/
.env
*.log
.next/
/public/
.DS_Store
services/laripay-core/dist/
integrations/shopify/georgia-pay-app/prisma/dev.db
integrations/shopify/georgia-pay-app/prisma/dev.db-journal
deploy/.env.production
